{% extends "base.html" %}

{% block content %}
  <h1>{{ article.title }}</h1>

  <p><strong>Author:</strong> {{ article.author.username }}</p>
  <p><strong>Created:</strong> {{ article.created }}</p>
  <p><strong>Synopsis:</strong> {{ article.synopsis }}</p>
  <p><strong>Time since created:</strong> {{ article.created|timesince }}</p>

  <hr>
  <h3>Content</h3>
  <div>
    {{ article.content|linebreaks }}
  </div>

  <p>
    <a href="{% url 'ex:publications' %}">Back to Publications</a>
  </p>

  
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'ex:add-favourite' article.pk %}">
      {% csrf_token %}
      {{ form }} {# opcional: si NO pasas form desde Detail, quítalo #}
      <button type="submit">Add to favourite</button>
    </form>
  {% else %}
    <p>You must login to add favourites.</p>
  {% endif %}

{% endblock %}