{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Articles List" %}{% endblock %}

{% block content %}
<!-- Articles shown as a table -->
<table>
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Synopsis" %}</th>
            <th>{% trans "Time since created" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="{% url 'ex:article-detail' article.pk %}">{{ article.title }}</a></td>
            <td>{{ article.author }}</td>
            <td>{{ article.created }}</td>
            <td>{{ article.synopsis|truncatechars:21 }}</td>
            <td>{{ article.created|timesince}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}