{% extends "base.html" %}

{% block title %}Articles List{% endblock %}

{% block content %}
<!-- Articles shown as a table -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Synopsis</th>
            <th>Time since created</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="{% url 'ex:article-detail' article.pk %}">{{ article.title }}</a></td>
            <td>{{ article.author }}</td>
            <td>{{ article.created }}</td>
            <td>{{ article.synopsis|truncatechars:21 }}</td>
            <td>{{ article.created|timesince}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}