{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Favourite Articles" %}{% endblock %}

{% block content %}
<h1>{% trans "Favourite Articles" %}</h1>
{% if favourite_articles %}
        <ul>
            {% for favourite in favourite_articles %}
                <li><a href="{% url 'ex:article-detail' favourite.article.id %}">{{ favourite.article.title }}</a></li>
            {% endfor %}
        </ul>
{% else %}
    <p>{% trans "You have no favourite articles." %}</p>
{% endif %}
{% endblock %}