{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Favourite Articles" %}{% endblock %}

{% block content %}
{% if favourite_articles %}
<table class="table article-table">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Writer" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "When" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for favourite in favourite_articles %}
        <tr>
            <td>{{ favourite.article.title }}</td>
            <td>{{ favourite.article.author.username|default:favourite.article.author }}</td>
            <td>{{ favourite.article.created }}</td>
            <td>{{ favourite.article.created|timesince }} {% trans "ago" %}</td>
            <td class="text-right">
                <a class="btn btn-info" href="{% url 'ex:article-detail' favourite.article.id %}">{% trans "Read" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning" role="alert">{% trans "You have no favourite articles." %}</div>
{% endif %}
{% endblock %}