{% extends "base.html" %}

{% block title %}Publications{% endblock %}

{% block content %}
<!-- Articles shown as a table -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Synopsis</th>
            <th>Created</th>
            <th>Time since created</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.synopsis|truncatechars:21 }}</td>
            <td>{{ article.created }}</td>
            <td>{{ article.created|timesince }}</td>
            <td>
                <a href="{% url 'ex:article-detail' article.pk %}">Read</a>
                {% comment %}
                {# también vale: {% url 'ex:article-detail' pk=article.pk %} #}
                {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}