{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>{% trans "Register" %}</strong></div>
            <div class="panel-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}